#ligoandvirgo_img {
  width: 350px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#Einstein_waves_img {
  width: 400px;
  height: 240px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#blackhole_collision_img {
  width: 270px;
  height: 280px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
